.container {
    background-color: beige;
}

.news-text {
    color: maroon;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0;
    padding-top: 0;
  }

  .fb-text {
    color: rgb(59, 89, 152);
    background-color: azure;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

 /* <-------------------media queries ------------------>*/
    @media screen and (max-width: 481px){
  .news-text {
    font-size: 1.2rem;
  }
  .fb-text {
    font-size: 1rem;
  }
}