body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0, auto;
  scroll-behavior: normal;
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
    background-color: beige;
}

.news-text {
    color: maroon;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    line-height: normal;
    margin-top: 0;
    padding-top: 0;
  }

  .fb-text {
    color: rgb(59, 89, 152);
    background-color: azure;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .item-text {
    color: black;
    text-align: center;
    font-size: 1.2rem;
    line-height: normal;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .item-footer {
    color: black;
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }

  .item-date {
    color: brown;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    border-top: 2px dashed blue;
    margin-right: auto;
    margin-left: auto;
  }

 /* <-------------------media queries ------------------>*/
    @media screen and (max-width: 481px){
  .news-text {
    font-size: 1.2rem;
  }
  .fb-text {
    font-size: 1rem;
  }
  .item-text, .item-footer, .item-date {
    font-size: 0.8rem;
    line-height: normal;
    
  }
}