.container {
    background-color: beige;
}

.map-text {
    color: maroon;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0;
    padding-top: 0;
  }

 /* <-------------------media queries ------------------>*/
    @media screen and (max-width: 481px){
  .map-text {
    font-size: 1.2rem;
  }
}